html{
    font-size: 16px;
}
body{
    background-color: white;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

.container{
    width: 100%;
    margin: 3.2rem auto 0 auto;
}

@media(min-width: 768px){
    .container{
        max-width: 720px;
    }
}
@media(min-width: 576px){
    .container{
        max-width: 546px;
    }
}

#download-form{
    background: rgba(9, 12, 172, 0.7);
    padding: 2.3rem 0.5rem;
    border-radius: 02.3rem;
}
.form-input{
    margin: 0 2.5rem 1.2rem 2rem;
}

.form-input-size{
    display: block;
    width: 100%;
    height: 1.5rem;
    padding: 0.3rem 0.4rem;
    border-radius: 0.2rem;
    outline: 0;
    border-style: none;
    margin-top: 00.4rem;
}

label{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

textarea{
    width: 100%;
    min-height: 6rem;
    resize: vertical;
    padding: 0.5rem 0 0 0.5rem;
}

#download{
    width: 100%;
    padding: 0.8rem;
    background: rgb(165, 5, 130);
    color: white;
    border-radius: 00.2rem;
    cursor: pointer;
    border: none;
    margin-left: 0.5rem;
}

select {
    width: 100%;
    height: 2.3rem;
    padding: 0.3rem 0.4rem;
    margin:0
}


